# Site settings
title: Lookinglass
email: support@lookinglass.ai
description: Pay as you go, not by subscription. Lookinglass for iPhone and iPad gives you access to 24 OpenAI models, including o3-pro with transparent pricing and advanced controls.
baseurl: ""
url: "https://lookinglass.ai"

# Build settings
markdown: kramdown
highlighter: rouge
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/
  - README.md

# Collections
collections:
  pages:
    output: true
    permalink: /:name/

# Defaults
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"

# Sass/CSS compression
sass:
  style: compressed